.body {
    margin-left: 50%;
    margin-right: auto;
}

h1 {
    text-align: center;
}

.border {
    display: flex;
}


.side {
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid slategray;
    width: 720px;
    height: 720px;
    overflow: hidden;
}

.row {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    border: 1px black;  
}

.square {
    flex-grow: 1;
    min-width: 1px;
    min-height: 1px;
    align-items: stretch;
}

#hover {
    background-color: blue;
}